.ssh/
.aws/
.bash_history
mbox

Telegram/
Desktop/
Downloads/
Documents/
Pictures/
Music/
notes/
tools/
hackdir/
vpn/

aas-config/
cloud-api/
monorepo/
shared-packaging/
jenkins-pipeline/
ew-aas/
cloud-deployer/
dash.js/
ew-system-design/
infra/
orc/
problemsolving/
